* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  min-height: 0;
}

window > box {
  color: #ffffff;
  margin: 10px 10px 0px 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
} */

#workspaces {
}

#workspaces button {
  padding: 2px 5px;
  margin-right: 2px;
  color: #ffffff;
  outline-style: none;
  opacity: 0.6;
}

#workspaces button:hover {
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

#workspaces button.empty {
  opacity: 0.3;
}

#workspaces button.active {
  opacity: 1;
  color: #ffffff;
}

#workspaces button.urgent {
  color: #f5a191;
}

#mode {
  color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  font-size: 18px;
  padding: 0 10px;
  margin: 0 4px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left,
.modules-right {
  border-radius: 8px;
  color: #ffffff;
  padding: 5px 8px;
  /* background-color: rgba(22, 22, 23, 0.8); */
  /* border: 1px rgba(62, 62, 67, 0.87) solid; */
  color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.charging,
#battery.plugged {
}

label:focus {
  background-color: #000000;
}
