@define-color accent #8aadf4;
@define-color txt #cad3f5;
@define-color bg rgba(36, 39, 58, 1);

 * {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 16px;
 }

 /* Window */
 window {
    background-color: transparent;
    animation: slideIn 0.1s ease-in-out both;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 2px;
    animation: fadeIn 0.05s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 2px;
    border: none;
 }

 /* Input */
 #input {
    margin: 0px;
    padding: 4px 10px;
    border: none;
    outline: none;
    color: @accent;

    background-color: transparent;
    animation: fadeIn 0.1s ease-in-out both;
 }

 /* Text */
 #text {
    margin: 2px;
    padding: 2px;
    border: none;
    color: @txt;
    animation: fadeIn 0.5s ease-in-out both;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: transparent;
   outline: none;
   border: none;
 }

 #entry:selected #text {
    color: @accent;
 }
